body
{
    font-family: "Avenir";
    margin: 0px;
}

.shadow
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.content
{
    color: var(--siteColor);
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

h1
{
    font-size: 50px;
    margin: 0px;
    margin-top: 20px;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: auto;
}

.resumeHeading
{
    font-size: 30px;
    font-weight: normal;
    color: var(--siteColor);
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.content .heading
{
    font-weight: bold;
    font-size: 20px;
    color: black;
    display: inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.content .heading a
{
    padding-bottom: 0px;
    padding-top: 0px;
}

.content .heading p
{
    margin-top: 0px;
    padding-top: 0px;
}

.noBottom
{
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.links a
{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    transition-duration: 0.4s;
    padding-bottom: 20px;
    text-align: center;
}

.links a:hover
{
    color: var(--siteColor);
}

.content p
{
    color: black;
    font-size: 20px;
    left: 170px;
    padding-top: 10px;
    font-weight: normal;
    word-wrap: normal;
}

.content img
{
    border-width: 1px;
    border-style: solid;
    border-color: var(--siteColor);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.content iframe
{
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: var(--siteColor);
    text-align: center;
    display: block;
    width: 75vw;
    height: 50vw;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.imagelist
{
    text-decoration: none;
    padding: 0px;
    text-align: center;
}

.imagelist img
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.bar
{
    white-space: nowrap;
    background-color: var(--siteColor);
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    //z-index: 1;
    margin-left: 0px;
    //overflow-y: scroll;
    cursor: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.bar a
{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
    transition-duration: 0.4s;
    word-wrap: break-all;
    word-break: break-word;
    white-space: normal;
    z-index: 1;
}

.bar p
{
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 0px;
    word-wrap: break-all;
    word-break: break-word;
    white-space: normal;
    z-index: 1;
    font-size: 19px;
}

.bar .selectedbar
{
    background-color: white;
    color: var(--siteColor);
}

.bar a:hover
{
    padding-left: 35px;
}

table
{
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
    margin-right: 0px;
    display: block;
    text-align: left;
    padding-bottom: 10px;
}

tr
{
    color: black;
    font-size: 20px;
    table-layout: fixed;
}

:root
{
    --siteColor: rgba(0, 190, 255, 1.0);
}

.footer
{
    width: 100%;
    background-color: var(--siteColor);
    height: 150px;
    position: relative;
    //z-index: 2;
}

.footer a
{
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.3s;
}

.footer p
{
    font-size: 10px;
    position: absolute;
    color: white;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.footer img
{
    height: 110px;
    padding: 15px;
    //padding-left: 165px;
    position: absolute;
}

.footer a:hover
{
    margin-right: 10px;
}

.linkBox
{
    text-align: right;
    padding: 15px;
    height: 120px;
    position: absolute;
    right: 0px;
}

.bar .barImg
{
    padding-left: 0px;
    padding-right: 0px;
}

.bar .barImg:hover
{
    padding-left: 0px;
}

.bar img
{
    width: 110px;
    padding-left: 0px;
}

.cursed
{
    cursor: url('pictures/balloon/balloon.png'), auto;
}

canvas
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.content iframe.resumeEmbed
{
    width: 100%;
}
