canvas
{
    width: 160vh;
    height: 90vh;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -45vh;
    margin-left: -80vh;
    background-color: rgb(220, 255, 255);
}

polygon
{
    stroke-width: 1;
    stroke: black;
    fill: rgb(150, 75, 0);
}

circle
{
    cx: 50;
    cy: 50;
    r: 20;
    fill: yellow;
}
