canvas
{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(220, 255, 255);
}

polygon
{
    stroke-width: 1;
    stroke: black;
    fill: rgb(150, 75, 0);
}

circle
{
    cx: 50;
    cy: 50;
    r: 20;
    fill: yellow;
}
